



@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/police-site";
@import "./layout/header";
@import "./pages/form";
@import "./pages/nav";
@import "./pages/section-acceuil";
@import "./layout/footer";
@import "./layout/section-menu";
@import "./utils/keyframes";
@import "./layout/media-queries";

 



/*@media screen and (min-width:375px)
{

    header
    {
        padding-left: 102px;
    }

    form
    {
        & i 
        {
            margin-left: 94px;
        }

        & button
        {
            margin-left: 80px;
        }


    }


    .restaurants img
    {
        width: 100%;
    }

    .new1
    {
        top: 749px;
    }

    .new2
    {
        top: 975px;
    }


}



@media screen and (min-width:425px)
{

  form i
  {
      margin-left: 109px;
  }

  form button
  {
      margin-left: 113px;
  }

  .restaurants
  {
      & img
      {
          max-width: 387px;
      }

      & figcaption
      {
          max-width: 387px;
      }

  }

}


@media screen and (min-width:768px)
{

    .search
    {

        width: 50%;
        margin-left: 218px;
    }
  
    form
    {
    
        & button
        {

            margin-left: 285px;
        }
    }

    nav
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        & button
        {
            width: 41%;

        }

        & span
        {
            left: 220px;
        }
    }
        .restaurants
        {
            padding: 19px 0;

            & img
            {
                width: 87%;
            }

            & figcaption
            {
                width: 87%;
            }

        }


        .acceuil_img
        {

            display: flex;
            margin: 37px 17px 0 59px;
            
            &1
            {
                width: 380px;
            }

            &2
            {
                width: 380px;
            }
        }

        .new1
        {
            right: 421px;
        }

        .new2
        {
            right: 421px;
        }

        .shop
        {
            text-align: center;
        }

}


@media screen and (min-width:804px)
{
    nav span
    {
        left: 231px;
    }


}

@media screen and (min-width:850px)
{
    nav span
    {
    left: 244px;
    }

}

@media screen and(min-width:1024px)
{

.search
{
    width: 35%;
    margin-left: 324px;
}

form button
{
    margin-left: 404px;

}

nav span
{
    left: 296px;
}

.acceuil_img
{
    margin: 37px 17px 0 152px;
}

.new1
{
    right: 551px;
}

.new2
{
    right: 551px;
}


}

@media screen and (min-width:1440px)
{

    .search
    {
        width: 30%;
        margin-left: 515px;
    }

    form button
    {
        margin-left: 612px;
    }

    nav span
    {
        left: 418px;
    }

    .acceuil_img
    {
        margin: 37px 17px 0 308px;

        &1
        {
            margin-right: 100px;
        }
    }


    .new1
    {
        right: 810px;;
    }

    .new2
    {
        right: 810px;
    }



}


@media screen and (min-width:1583px)
{

    .search
    {
        width: 24%;
        margin-left: 609px;
    }

    form button
    {
        margin-left: 669px;
    }

    nav span
    {
        left: 460px;
    }

    .acceuil_img
    {
        margin: 37px 17px 0 381px;
    }

    .new1
    {
        right: 881px;
    }

    .new2
    {
        right: 881px;
    }
}*/