



.food
{   
    padding: 24px 0 15px 0;
    display: flex;
    justify-content: center;

    & img{
        height: 26px;
    }
    
    &--menu
    {
       
        animation: none;
        & a
        {
         position: absolute;
         left: 10px;
        color: black;
        }
       
    

    }
     
    
}