



.food
{   
    padding: 24px 0 15px 72px;

    & img{
        height: 26px;
        margin-top: 6px;
    }
    
    &--menu
    {
        display: flex;
        padding: 24px 0 15px 27px;
        animation: none;
        & a
        {
        margin-right: 39px;
        color: black;
        }
       
    

    }
     
    
}