


@media  screen  and (min-width: 375px)
{
      
       
       .pay
       {
            margin: 35px 0 0 75px;
       }

       .contener
       {
           width: 91%;
       }

    .food--menu
    {
        & img
        {
            margin-left: 30px;
        }
    }


    .gradient--button_pay
    {
        margin: 35px 0 0 72px;
    }


    .food
    {
        & img
        {
            margin-left: 32px;
        }
    }

    form
    {
        & i 
        {
            margin-left: 94px;
        }

        & button
        {
            margin-left: 80px;
        }


    }

    .gradient--button
    {
        margin: 25px 0 0 89px;
    }

    .restaurants img
    {
        width: 100%;
    }

    .new1
    {
        top: 759px;
    }

    .new2
    {
        top: 985px;
    }


}


@media screen and (min-width:425px)
{
   
    .pay
     {
        margin: 35px 0 0 129px;
    }

    main section
    {
        padding: 0 23px 42px 23px;
    }

    .food--menu
    {
        & img
        {
            margin-left: 65px;
        }
    }

    .gradient--button_pay
    {
        margin: 35px 0 0 79px;
    }

    
    .food
    {
        & img
        {
            margin-left: 45px;
        }
    }


  form i
  {
      margin-left: 109px;
  }

  form button
  {
      margin-left: 113px;
  }

  .gradient--button
    {
        margin: 25px 0 0 110px;
    }


  .restaurants
  {
      & img
      {
          max-width: 387px;
      }

      & figcaption
      {
          max-width: 387px;
      }

  }




}


@media screen and (min-width:768px)
{


    .food--menu
    {
        & img
        {
            margin-left: 227px;
        }
    }

    main header
    {
        padding: 36px 23px 72px 14px;
        justify-content: center;

    }

    main img
    {
        max-height: 363px;
        width: 100%;
        object-fit: cover;
    }

    header 
    {

        & img
        {
        margin-left: 224px;
        }

        & h1
        {
            margin-right: 61px;

        }

        & i
        {
            margin: 7px 0 0 0;
        }
    }


    main section
    {
        padding: 0 5px 42px 60px;
        
    }

    main button
    {
    width: 310px;
    }
    
    

    .menu
    {
        position: relative;
    }

    .block
    {
        display: flex;
        margin-bottom: 58px;
    }


    .plat
    {
        margin-left: 28px;
    }

    .entree
    {
        display: flex;
        flex-direction: column;
    }

    .titre
    {
        align-self: center;
        width: 39%;
        text-align: center;

        &3
        {
            width: 24%;
            align-self:flex-start;
            margin-left: 64px;
        }
    }


    .plat
    {
        display: flex;
        flex-direction: column;
    }

    .dessert
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    
    .gradient--button_pay
    {
        margin: 0;
        padding: 15px 40px;
        position: absolute;
        bottom: 96px;
        right: 18%;
    }
    
    
    footer
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        
       

    }

        .food
    {
        & img
        {
            margin-left: 254px;
        }
    }


    .search
    {

        width: 50%;
        margin-left: 218px;
    }
  
    form
    {
    
        & button
        {

            margin-left: 285px;
        }
    }

    nav
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        & button
        {
            width: 41%;

        }

        & span
        {
            left: 220px;
        }
    }
        .restaurants
        {
            padding: 19px 0;

            & img
            {
                width: 87%;
            }

            & figcaption
            {
                width: 87%;
            }

        }


        .acceuil_img
        {

            display: flex;
            margin: 37px 17px 0 59px;
            
            &1
            {
                width: 380px;
            }

            &2
            {
                width: 380px;
            }
        }

        .new1
        {
            right: 421px;
        }

        .new2
        {
            right: 421px;
        }

        .shop
        {
            text-align: center;
        }

        .gradient--button
        {
            margin: 25px 0 0 308px;
        }



    
    



}



@media screen and (min-width:1024px)
{


    .food--menu
    {
        & img
        {
            margin-left: 385px;
        }
    }


    header img
    {
        margin-left: 316px;
    }

    main header
    {
        padding: initial;
    }


    main section
    {

        padding: 57px 5px 42px 28px;
        margin-top: -94px;
    }


    .menu
    {

        display: flex;
        margin-top: 46px;
        position: relative;

    }


    .plat
    {
        margin: 0 18px 0 18px;
    }

    .pay
    {
        right: 424px;
        top: 473px;
    }

    .titre
    {
        margin: 0 0 28px 5px;
        align-self: center;
    }

    .gradient--button_pay
    {
        bottom: -24px;
        right: 40%;
    }


    .food
    {
        & img
        {
            margin-left: 354px;
        }
    }

.search
{
    width: 35%;
    margin-left: 324px;
}

form button
{
    margin-left: 404px;

}

nav span
{
    left: 296px;
}

.acceuil_img
{
    margin: 37px 17px 0 152px;
}

.new1
{
    right: 551px;
}

.new2
{
    right: 551px;
}

.gradient--button
{
            margin: 25px 0 0 388px;
}



}

   



@media screen and (min-width: 1440px)
{


    .food--menu
    {
        & img
        {
            margin-left: 632px;
        }
    }

    header 

    {
        & img
        {
            margin-left: 512px;
        }

        & h1
        {
             margin-right: 81px;
        }
    }

    
    .titre
    {
        align-self: center;
        width: auto;

    }

    .plat
    {
        margin: 0 124px;
    }


    main section
    {
              padding: 57px 0 42px 0;
    }

    main button
    {
        margin-bottom: 22px;
    }

    .pay
    {
        top: 502px;
        right: 631px;
        
    }


    .menu
    {
        justify-content: center;
    }

    .gradient--button_pay
    {
        right: 43%;
    }


    .food
    {
        & img
        {
            margin-left: 549px;
        }
    }

    .search
    {
        width: 30%;
        margin-left: 515px;
    }

    form button
    {
        margin-left: 612px;
    }

    nav span
    {
        left: 418px;
    }

    .acceuil_img
    {
        margin: 37px 17px 0 308px;

        &1
        {
            margin-right: 100px;
        }
    }


    .new1
    {
        right: 810px;;
    }

    .new2
    {
        right: 810px;
    }

    .gradient--button
    {
                margin: 25px 0 0 605px;
    }

}

@media screen and (min-width:1583px)
{


    .food--menu
    {
        & img
        {
            margin-left: 700px;
        }
    }

    .pay
    {
        padding: 24px 75px;
        top: 482px;
        right: 669px;
        border-radius: 40px;
    }

    main header
    {
        padding: initial;
    }

    main button
    {
         height: 70px;
    }

    .contener
    {
        width: 89%;

    }
    
    .prix
    {
        width: 9%;
    }

    .icone
    {
        display: initial;
        width: 60px;
    }

    .gradient--button_pay
    {
        right: 45%;
    }


    .food
    {
        & img
        {
            margin-left: 641px;
        }
    }


    .search
    {
        width: 24%;
        margin-left: 609px;
    }

    form button
    {
        margin-left: 669px;
    }

    nav span
    {
        left: 460px;
    }

    .acceuil_img
    {
        margin: 37px 17px 0 381px;
    }

    .new1
    {
        right: 881px;
    }

    .new2
    {
        right: 881px;
    }

    .gradient--button
    {
                margin: 25px 0 0 686px;
    }




}








