


$breakpoint:
(
    mobile1: 375px,
    mobile2:425px,
    tablette:768px,
    screen1:1024px,
    fullscreen1:1044px,
    desktop:1583px,
) ;


@mixin mobile-only
{

    @media screen and(max-width:map-get($breakpoint, mobile1)) 
    { 
         @content;
      
    }

}

@mixin mobile-only2
{

    @media screen and(max-width:map-get($breakpoint, mobile2)) 
    { 
         @content;
      
    }

}


@mixin tablette
{

    @media screen and (max-width: map-get($breakpoint, tablette))
    {
        @content;
    }


}





@mixin screen
{

    @media screen and (max-width: map-get($breakpoint, screen1))
    {
        @content;
    }


}

@mixin fullscreen1
{

    @media screen and (max-width: map-get($breakpoint, fullscreen1))
    {
        @content;
    }


}



@mixin ecran
{

    @media screen and (max-width: map-get($breakpoint, desktop))
    {
        @content;
    }


}
